<div class="py-12 px-52 flex items-center justify-between">
  <img src="./assets/img/Vitor%20Logo.svg" alt="logo" width="80">

  <ul class="flex items-center gap-12">
    <li class="cursor-pointer font-bold text-emerald-500 hover:text-emerald-400">Home</li>
    <li class="cursor-pointer hover:text-emerald-400">Summary</li>
    <li class="cursor-pointer hover:text-emerald-400">Skills</li>
    <li class="cursor-pointer hover:text-emerald-400">Projects</li>
    <li class="cursor-pointer hover:text-emerald-400">Education</li>
    <li class="cursor-pointer hover:text-emerald-400">Blog</li>
  </ul>
</div>
