.is-visible {
  opacity: 1;
  transform: scale(1);
  transition: .5s ease-out;
}

@media(prefers-reduced-motion) {
  .is-visible {
    transition: none;
  }
}

.line-height {
  line-height: 2.81rem;
}
