<div
  class="w-1/2 p-8 rounded-xl bg-slate-800/50 text-center">
  I am a passionate developer with a diverse background encompassing seven years of experience as a Graphic Designer and
  a strong track record in handling high complexity projects. My journey began with HTML and CSS, but over time, I have
  acquired expertise in an array of languages including C# and Typescript, as well as proficiency in popular frameworks
  such as Vue and Angular. My areas of specialization lie in C#, .Net, and Angular, allowing me to excel in developing
  innovative solutions.
</div>
