<div class="container">
  <div class="photo"></div>
  <div class="absolute top-[1rem] left-[9rem] text-emerald-950 flex flex-col gap-2">
    <p>Links:</p>
    <a href="https://linkedin.com/in/vitor-lacerda-faria" target="_blank" class="hover:scale-110 transition-transform">
      <i class="fa-brands fa-linkedin"></i>
      Linkedin
    </a>
    <a href="https://github.com/vitorlfaria" target="_blank" class="hover:scale-110 transition-transform">
      <i class="fa-brands fa-github"></i>
      Github
    </a>
  </div>
</div>
<div class="absolute top-[5.5rem] left-[5rem] flex gap-3 z-10 hover-animation">
  <p>Hover me</p>
  <i class="fa-solid fa-location-arrow"></i>
</div>
