@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap');

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.44rem;
  color: #f1f3f5;
}

.heading {
  font-size: 2.4rem;
  line-height: 2.88rem;
  letter-spacing: -2%;
  font-weight: 800;
  color: #f1f3f5;
}

.sub-heading {
  line-height: 1.92rem;
  letter-spacing: -2%;
  font-weight: 500;
  color: #a7a8ad;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111518;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #45474f;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #595b64;
}
